[Desktop Entry]
Version=1.0
Type=Application
Name=StormOS Music Player
Comment=
Exec=/usr/local/bin/smp
Icon=enjoy-music-player
Path=
Terminal=false
StartupNotify=false
