[Desktop Entry]
Version=1.0
Type=Application
Name=StormOS Music Player
Comment=
Exec=/usr/local/bin/smp
Icon=web-browser
Path=
Terminal=false
StartupNotify=false
