[Desktop Entry]
Version=1.0
Type=Application
Name=StormOS Image Viewer
Comment=
Exec=/usr/local/bin/sviewer
Icon=insert-image
Path=
Terminal=false
StartupNotify=false
